@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: "Fira Sans", serif; */
.fira_font {
  font-family: "Fira Sans";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.max_width {
  max-width: 1200px;
}
/* nabbar section styles */
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}
#bangladesh {
  font-size: 32px;
  font-weight: 700;
}
.secondary_btn {
  padding: 15px 30px;
  border-radius: 8px;
  border: 1px solid rgb(0, 106, 80);
  font-size: 18px;
  font-weight: 600;
}
/* header section styles */
#header {
  border-radius: 24px;
  padding: 80px 100px;
  background-color: rgb(198, 228, 214);
  margin: 0px auto;
}
.header_container {
  display: flex;
  justify-content: space-between;
}
.bangladesh_two_point_zero {
  color: rgba(14, 14, 14, 0.5);
  font-size: 24px;
  font-weight: 500;
}
.bangladesh_heading {
  font-size: 56px;
  font-weight: 700;
  margin: 20px auto;
}
.btn {
  padding: 17px 34px;
  border-radius: 8px;
  background: rgb(0, 106, 80);
  border: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
}
/* main section styles */
.main {
  margin: 80px auto;
}

.main_section_heading {
  font-size: 40px;
  font-weight: 700;
}
/* bangladesh skills styles */

.bangladesh_skills {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}
.bangladesh_skill_container {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  padding: 24px;
}

.skill_name {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  padding: 30px 0;
}
.skill_description {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}
/* vision of future section styles*/

#second_heading {
  margin-top: 80px;
}
.main_section_heading_description {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  padding-top: 20px;
}
/* Banglaesh have section  styles*/
.flex {
  display: flex;
  gap: 24px;
  padding: 32px 0px;
}

.primary_button {
  margin-top: 24px;
  border: none;
  padding: 11px 20px;
  border-radius: 8px;
  background-color: rgb(84, 144, 245);
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.primary_button_two {
  margin-top: 24px;
  border: none;
  padding: 11px 20px;
  border-radius: 8px;
  background-color: rgb(9, 161, 92);
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.primary_button_three {
  margin-top: 24px;
  border: none;
  padding: 11px 20px;
  border-radius: 8px;
  background-color: rgb(255, 194, 57);
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.bangladesh_have {
  padding: 32px;
  border-radius: 16px;
  background-color: rgba(84, 144, 245, 0.2);
}
.bangladesh_have_two {
  padding: 32px;
  background-color: rgb(198, 228, 214);
  border-radius: 16px;
}
.bangladesh_have_three {
  padding: 32px;
  border-radius: 16px;
  background: rgb(247, 235, 207);
}
/* Dr. Muhammad yunus Speech section styles */
.speech_section {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  padding-bottom: 112px;
}
.speech_description {
  font-size: 16px;
  padding: 32px 0px;
  color: rgba(14, 14, 14, 0.8);
}
.dr_muhammad_yunus {
  font-size: 20px;
  font-weight: 600;
  color: rgba(14, 14, 14, 0.8);
  padding-top: 12px;
}
.position {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.6);
}
#quote_image {
  background-image: url("/assets/quote-bg.png");
  background-repeat: no-repeat;
}
/* Recent news section style */
.recent_news_container {
  margin-bottom: 80px;
}
.recent_news_tittle {
  font-size: 40px;
  font-weight: 700;
  color: rgb(14, 14, 14);
}
.recent_news_description {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}
/* Bangladesh Launches New Satellite section styles */
.satelite_container {
  display: flex;
  gap: 32px;
}
.satelite_image {
  border-radius: 24px;
}
.bangladesh_new_satelite {
  font-size: 32px;
  font-weight: 700;
  color: rgba(14, 14, 14, 0.8);
  padding-bottom: 12px;
}
.al_jazeera_image {
  padding-bottom: 12px;
}
.satelite_date_time {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  padding-bottom: 12px;
}
#time {
  padding-left: 12px;
}
.satelite_description {
  font-size: 16px;
  padding-bottom: 32px;
}
#satelite_container_second {
  margin-top: 80px;
}
#satelite_container_third {
  margin-top: 80px;
}
/* Donate section styles */

.donate_today_section {
  padding-top: 80px;
}
.donate_today_section_container {
  text-align: center;
  margin-bottom: 32px;
}
.donate_heading {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 24px;
}
.donate_description {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}
.money_container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.taka {
  font-size: 25px;
  font-weight: 700;
  color: rgba(14, 14, 14, 0.8);
  padding: 30px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  cursor: grab;
}
.taka:hover {
  background-color: chartreuse;
}
.default_colour {
  background-color: rgb(198, 228, 214);
}
#input_box {
  margin-top: 32px;
  width: 100%;
  padding: 20px 40px;
  color: rgba(14, 14, 14, 0.3);
  text-align: center;
  font-size: 20px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
}
.done_now_button {
  text-align: center;
  margin-top: 32px;
}
/* footer section styles */
.footer {
  margin: auto;
}
.footer_section {
  margin: auto;
  background: rgb(198, 228, 214);
  border-radius: 24px;
  padding: 80px 100px;
}
.footer_section_container {
  text-align: center;
}
.Subscribe_newsletter_heading {
  font-size: 40px;
  font-weight: 700;
  color: rgb(14, 14, 14);
}
.Subscribe_newsletter_description {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  padding: 20px 0;
}
#email {
  padding: 18px 40px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.3);
  width: 600px;
}
.Subscribe_btn {
  background-color: rgb(0, 106, 80);
  border-radius: 0px 8px 8px 0px;
  padding: 17px 34px;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
}
.no_spam_message {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  padding-top: 25px;
}
.footer_end_section {
  text-align: center;
  padding-top: 130px;
}
.footer_end_section_images {
  padding-top: 64px;
}
#footer_middle_image {
  padding: 0px 23px;
}
